body {
  background-color: yellow;
  width: 800px;
  margin:auto;
  margin-top: 200px
}

p {
  font-family: arial;
}

h1 {
  font-family: georgia;
  text-align: center;
  margin: 20px;
  font-size: 70px;
}


h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: monospace;
}

h3 {
  font-family: monospace;
}

blockquote {
  margin: 20px;
  font-family: arial;
  width: 500px;
}

ul {
  font-family: arial;
}
