body {
background-color: black;
font-family: times;
}

.box_top {
position: fixed;
text-align: left;
flex-direction: column;
border: 1px solid black;
background-color: white;
opacity: .9;
z-index: 4;
}

.box_bottom {
position: fixed;
text-align: left;
flex-direction: column;
border: 1px solid black;
background-color: white;
opacity: .9;
bottom: 0;
z-index: 4;
}

.top {
  font-family: antarctican-headline;
  font-size: 25px;
  padding: 10px;
  color: black;
  top: 0;
  z-index: 10;
}

.bottom {
  font-family: antarctican-headline;
  font-size: 25px;
  padding: 10px;
  color: black;
  bottom: 0;
  z-index: 10;
}

.main {
display: grid;
grip-gap: 0;
width: calc(100% - 20px);
margin-left: 10px;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: 50%;
padding-bottom: 30px;
padding-top: 30px;
}

.main_item {
position: relative;
text-align: left;
flex-direction: column;
border: 1px solid black;
background-color: white;
border-radius: 5px;
padding: 20px;

/*type*/
font-family: antarctican-mono;
font-weight:400;
font-size: 15px;
}

.italic {
  font-style: italic;
}

.small {
  max-width: 50vh;
}
