body {
background-color: lawngreen;
font-family: times;
}


#mydivheader {
text-align: left;
border: 1px solid black;
background-color: white;
opacity: .8;
top: 0;
z-index: 4;
cursor: move;
padding: 10px;
}



#mydiv {
  font-family: times;
  font-size: 20px;
  padding: 10px;
  color: black;
  top: 0;
  z-index: 10;
  position: absolute;
}

.bottom {
  font-family: modula-round-ribbed;
  font-size: 45px;
  padding: 10px;
  color: black;
  bottom: 0;
  z-index: 10;
}


.italic {
  font-style: italic;
}
