
body {
  font-family: arial;
}


.links {
  font-family: arial black;
  text-transform: capitalize;
  font-size: 50px;
  position: fixed;
  transform: rotate(90deg);
  transform-origin: top left; 0;
  left: 100%;
  top: 50px;
}

a {
  color: black;
}
