body {
background-color: blue;
font-family: 'Modak'; arial black;
cursor: auto;
}

.clap {
  bottom: 0px;
  padding-bottom: 30px;
  position: fixed;
  z-index: auto;
}

.fish {
  bottom: 0px;
  left: 55%;
  padding-bottom: 30px;
  position: fixed;
  z-index: auto;
}

.snowglobe {
  bottom: 0px;
  right: 0px;
  padding-bottom: 30px;
  position: fixed;
  z-index: auto;
}

.memories {
  bottom: 0px;
  left: 15%;
  position: fixed;
  z-index: auto;
}

.intro {
  font-size: 80px;
  padding: 100px;
  color: white;
}


.content {
  cursor: text;
  font-size: 80px;
}

.content:hover {
  color: red;
  transition-duration: 2s;
}
