body {
  background-color: peachpuff;
  background: url("../images/background.png") no-repeat center center fixed;
  background-size: cover;
}

.clap {
  bottom: 0px;
  padding-bottom: 30px;
  position: fixed;
  z-index: auto;
}

.ideology {
padding-top: 50px;
margin-left: 20px;
font-family: arial;
color: black;
padding: 70px;
font-size: 50px;
line-height: 70px;
}

.forgotten {
padding-top: 50px;
margin-left: 50px;
font-family: arial;
color: black;
padding: 70px;
font-size: 50px;
line-height: 70px;
}

.tinderbot {
padding-top: 50px;
margin-left: 20px;
font-family: arial;
color: black;
padding: 70px;
font-size: 50px;
line-height: 70px;
}

.younggirl {
padding-top: 50px;
margin-left: 20px;
font-family: arial;
color: black;
padding: 70px;
font-size: 50px;
line-height: 70px;
}

.t-last {
  margin-bottom: 600px;
}

.t-first {
  margin-top: 600px;
}


.navigation {
  border: 1px solid black;
  right: 0px;
  top: 0px;
  position: fixed;
  padding-top: 10px;
  height: 100vh; /*viewport height*/
  background-color: white;
  overflow: scroll;
  width: 20%;
}

.button {
  display: block;
  padding: 50px;
  font-family: helvetica;
  font-size: 50px;
  cursor: pointer;
  line-height: 140px;
  margin-left: 50px;

}

.header {
  font-family: arial black;
  font-size: 100px;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.f-text{
  display: block;
}

.footer {
  font-family: times;
  padding: 10px;
  border: 1px solid black;
  position: fixed;
  bottom: 0px;
  height: 5vh; /*viewport height*/
  background-color: yellow;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100vw;
}

.container {
  padding:0px;
  background-color: white;
  height: 25px;
  width:100vw;
  overflow:hidden;
  z-index: 2;
  position: fixed;
  border: 1px solid black;
}

.marquee{
font-family: helvetica;
color: green;
display:block;
position:fixed;
overflow: hidden;
width:100vw;
height:20px;
animation:scroll 30s linear infinite;
padding:3px;
z-index: 2;
}

.marquee:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes scroll{
0% {left:100vw;}
100% {left:-100vw;}
}

.pop {
  width: 500px;
  height:300px;
  cursor: pointer;
}

.border {
  border: 10px solid yellow;
}

.p-sub {
  background-color: green;
  position: fixed;
  bottom:0;
  right:0;
  display: none;
}

.p-bye {
  background-color: red;
  position: fixed;
  left:50px;
  top:100px;
  display: none;
}

.p-congrats {
  background-color: rebeccapurple;
  position: fixed;
  right: 30px;
  top: 200px;
  display: none;
  z-index: 3;
}

.message {
  padding: 20px;
  font-size:20px;
  font-family: arial;
}

.show {
  display: block;
}

.close {
  font-family: arial black;
}

a {
 color: black;
 cursor: pointer;
 }
