body {
background-color: #fff;
}

.header {
  position: fixed;
  bottom: 0px;
  text-align: left;
  font-size: 5vw;
  text-transform: uppercase;
  font-family: impact, arial;
  letter-spacing: -0.05em;
  width: 100%;
  z-index: 2;
}


.nav {
width: 100%;
background-color: #fff;
position: fixed;
top: 0px;
left: 0px;
z-index: 2;
padding-top: 10px;

}

.button {
font-family: arial;
border: 2px solid black;
border-radius: 10px;
padding: 5px;
cursor: pointer;
}

.b-blue {
  color: blue;
}


.main {
  overflow: hidden;
  position: relative;

}

.item {
float: left;
width: 25%;

}

.show {
display: black;

}

.hide {
display: none;

}

.col1of2 {
width: 50%;

}

.col3of4  {
width: 75%;

}

.col2of5 {
  width: 40%;
}

.item img {
  max-width: 100%;
}
